* {
  /* border: 1px red solid; */
  box-sizing: border-box;
  margin: 0px;
  box-sizing: content-box;
}

main {
  background-color: #021530;
}
a:visited {
  color: white;
  text-decoration: none;
}

a:link {
  color: white;
  text-decoration: none;
}
header {
  background-color: #021530;
}

.navmenu {
  display: flex;
  padding: 20px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.navmenu li {
  padding: 20px;
}
.hero {
  text-align: center;
  background-color: #002252;
  padding: 200px;
  width: fit-content;
  margin: 0px 0px;
  color: white;
}
iframe {
  width: 400px;
  height: 400px;
}
#about {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a5696;
  color: white;
}

#abouttitle {
  font-size: 30px;
  margin-bottom: 30px;
}

#contact {
  margin-top: 5px;
  background-color: #1a5696;
  color: white;
}
button #footer {
  background-color: #002252;
}
